<section class='invoices'>
  <h2>Invoice History</h2>
  <p>
    {{svg-jar 'icon-help' class='icon-help' alt=''}} Having trouble with your invoices?
    {{#link-to 'help' (query-params anchor='form')}}
    We’re happy to help
    {{/link-to}}
  </p>
  <table>
    <thead>
      <tr>
        <th>
          invoice date
        </th>
        <th>
          payment card
        </th>
        <th>
          total
        </th>
        <th>
          download
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each (sort-by 'createdAt:desc' invoices) as |invoice|}}
      <tr>
        <td>
          <p>
            {{svg-jar 'icon-invoice' class='icon'}}
            {{invoice.id}} {{moment-format invoice.createdAt 'MMMM YYYY'}}
          </p>
        </td>
        <td>
          <p>•••• •••• •••• {{subscription.creditCardInfo.lastDigits}}</p>
        </td>
        <td>
          <p> ${{subscription.plan.price }}</p>
        </td>
        <td>
          <a data-test-invoice href={{invoice.url}}>
            Download {{svg-jar 'icon-invoice' class='icon'}}
          </a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</section>